body{
	background: rgb(60, 150, 255);
	font-family: 'Roboto', helvetica, sans-serif;

}
.Signup{
	text-align: center;
	color: dimgray;
	font-size: 40px;
}

.container{
	
	margin: auto;
	padding: 40px;
	width: 400px;
	border-radius: 5px;
	background: white;
}
img{
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 550px;
	text-align: center;
}

	label{
		padding-bottom: 20px;
		margin-left: 22px;
	}

form input{
	border-radius: 5px;
	margin-left: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	width: 320px;
	padding: 15px;
	border: 2px solid #ddd;
}
.button{
	margin-left: 22px;

}
button{

	font-size: 20px;
	border: 2px solid #ddd;
	padding: 15px;
	width: 89%;
	height: 55px;
	background: #5DD361;
	color: white;
	border-radius: 5px;
}
button:hover{
	background: green;
}
.new{
	text-align: center;
	color: gray;
}
p, a.login{
	color: white;
}
p{
	text-align: center;
}